@font-face {
  font-family: Playfair Display;
  src: url(../asset/font/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../asset/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url(../asset/font/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  src: url(../asset/font/Roboto/Roboto-ExtraLight.ttf);
}

body {
  font-family: "Roboto";
  color: #222;
  font-weight: 300;
}

h1,
h2 {
  font-family: "Playfair Display";
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
}

p {
  color: #4e4e4e;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.about-me {
  margin-bottom: 8em;
  position: relative;
}

.about-me::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(100, 134, 173);
  background: linear-gradient(
    150deg,
    rgba(100, 134, 173, 1) 0%,
    rgba(100, 134, 173, 1) 33%,
    rgba(255, 255, 255, 0) 33.2%,
    rgba(255, 255, 255, 0) 100%
  );
}

.about-me::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    150deg,
    rgb(230, 230, 230) 0%,
    rgb(230, 230, 230) 33%
    rgb(240, 240, 240) 34%
    rgb(255, 255, 255) 35%
    rgba(255, 255, 255) 100%
  );
  z-index: -1;
}

.about-me__img {
  padding: 2em;
  position: relative;
}

.about-me__img .about-me__img-container {
  position: relative;
}

.about-me__img img {
  min-height: 400px;
  object-fit: cover;
}

.about-me__img p {
  font-family: "Playfair Display";
  color: #fff;
  font-size: 4rem;
  position: absolute;
  margin: 0;
  bottom: 0.25em;
  left: 0.5em;
}

.about-me__text {
  padding: 0 1.5em;
}

.about-me__text p {
  font-size: 1.4rem;
  line-height: 1.4em;
}

.about-me__links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.about-me__links a {
  width: 2.5rem;
}

.my-work {
  padding: 0 1.5em;
}

.card {
  box-shadow: 0.185em 0.185em 0.625em rgb(175, 175, 175);
  margin-bottom: 5em;
}

.card__text {
  padding: 1em 1.5em;
}

.card__text h2 {
  margin: 0 0.5em;
}

.card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.card__links a {
  width: 1.5rem;
}

.card__text p {
  font-size: 1.2rem;
}

footer {
  background-color: rgb(100, 134, 173);
}

.contact-me {
  padding: 0 1.5em;
  color: #fdfdfd;
  overflow: auto;
}

.contact-me p {
  color: #fdfdfd;
}

.contact-me__description {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2em;
}

.contact-me__address,
.contact-me__phone-and-email {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 2em;
}

.contact-me__address p {
  margin: 0;
}

.contact-me__phone-and-email p {
  margin: 0.5em 0;
}

.contact-me__phone-and-email p span {
  display: none;
}

.contact-me__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin-bottom: 4em;
}

.contact-me__links a {
  width: 3.125rem;
}

.footer-img-container img {
  object-fit: cover;
  min-width: 100%;
  min-height: 400px;
}

@media (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 577px) {
  .about-me {
    isolation: isolate;
  }

  .about-me::before {
    min-height: 600px;
    z-index: -1;
    background: rgb(100, 134, 173);
    background: linear-gradient(
      165deg,
      rgba(100, 134, 173, 1) 0%,
      rgba(100, 134, 173, 1) 55%,
      rgba(255, 255, 255, 0) 55.2%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .about-me::after {
    min-height: 600px;
    z-index: -2;
    background: linear-gradient(
      160deg,
      rgb(230, 230, 230) 0%,
      rgb(230, 230, 230) 33%,
      rgb(240, 240, 240) 34%,
      rgb(255, 255, 255) 35%,
      rgba(255, 255, 255) 100%
    );
  }

  .about-me__img {
    padding: 3em 2em;
    margin-bottom: 4em;
  }

  .about-me__img .about-me__img-container {
    width: 50%;
    max-width: 512px;
    float: left;
    margin-right: 1em;
  }

  .about-me__img p {
    top: 20px;
    right: -32px;
    left: auto;
    bottom: auto;
  }

  .about-me__text {
    box-shadow: 0.185em 0.185em 0.625em rgb(175, 175, 175);
    margin: 0 4em;
    background-color: #fff;
    padding: 4em 2em;
  }

  .about-me__text p {
    font-size: 1.5rem;
    line-height: 1.5em;
  }

  .about-me__links {
    display: none;
  }

  .my-work {
    padding: 0 4em;
    margin-bottom: 15em;
  }

  .card {
    margin-bottom: 2em;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }

  .card__text {
    min-height: 150px;
  }

  .card__text p {
    font-size: 1rem;
  }

  .card__title h2 {
    margin: 0;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .contact-me {
    margin-top: 4em;
    margin-left: 1em;
    padding: 0 1em;
  }

  .contact-me h1 {
    text-align: left;
  }

  .contact-me__description {
    font-size: 1.2rem;
  }

  .contact-me__address,
  .contact-me__phone-and-email {
    font-weight: 300;
    margin-bottom: 2em;
  }

  .contact-me__phone::before,
  .contact-me__email::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 30px;
    height: 30px;
    background: white;
  }

  .contact-me__phone,
  .contact-me__email {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .contact-me__phone::before {
    mask-image: url(../asset/icon/phone-outline.svg);
  }

  .contact-me__email::before {
    mask-image: url(../asset/icon/email-outline.svg);
  }

  .contact-me__links {
    justify-content: start;
  }

  .footer-img-container {
    margin: 2em;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  :root {
    font-size: 12px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .about-me::before {
    min-height: 500px;
    z-index: -1;
    background: rgb(100, 134, 173);
    background: linear-gradient(
      174deg,
      rgba(100, 134, 173, 1) 0%,
      rgba(100, 134, 173, 1) 70%,
      rgba(255, 255, 255, 0) 70.2%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .about-me::after {
    min-height: 500px;
    z-index: -2;
    background: linear-gradient(
      174deg,
      rgb(230, 230, 230) 0%,
      rgb(230, 230, 230) 70%,
      rgb(240, 240, 240) 71%,
      rgb(255, 255, 255) 72%,
      rgba(255, 255, 255) 100%
    );
  }

  .about-me__img {
    margin-bottom: 0;
    padding: 4em 5em;
  }

  .about-me__img .about-me__img-container {
    margin: 0;
    width: 40%;
    max-width: 400px;
  }

  .about-me__img p {
    top: auto;
    right: 0;
    left: 0;
    bottom: 2px;
    text-align: center;
  }

  .about-me__text {
    background-color: #fff;
    padding: 0em 1.5em;
    margin: 0 5em;
    overflow: auto;
  }

  .about-me__text h1 {
    text-align: left;
  }

  .about-me__links {
    display: flex;
    justify-content: end;
    margin-bottom: 2em;
  }

  .about-me__links a {
    width: 2rem;
    height: 2rem;
  }

  .my-work {
    overflow: auto;
    padding: 0 5em;
    margin-bottom: 5em;
  }

  .my-work h1 {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 0.5em;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__text p {
    font-size: 1.2rem;
  }

  footer .container {
    padding: 4em 5em;
  }

  .contact-me {
    margin: 0;
    padding: 0;
  }

  .contact-me__description {
    font-size: 1.4rem;
    text-wrap: balance;
  }

  .contact-me__address,
  .contact-me__phone-and-email {
    font-size: 1.4rem;
  }

  .footer-img-container {
    margin: 0;
  }

  .contact-me__links a {
    width: 3rem;
  }
}

@media (min-width: 2001px) {
  .about-me::before {
    background: rgb(100, 134, 173);
    background: linear-gradient(
      175.5deg,
      rgba(100, 134, 173, 1) 0%,
      rgba(100, 134, 173, 1) 70%,
      rgba(255, 255, 255, 0) 70.2%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .about-me::after {
    min-height: 500px;
    z-index: -2;
    background: linear-gradient(
      175.5deg,
      rgb(230, 230, 230) 0%,
      rgb(230, 230, 230) 70%,
      rgb(240, 240, 240) 71%,
      rgb(255, 255, 255) 72%,
      rgba(255, 255, 255) 100%
    );
  }
}
